span.span_chat{
    font-size: 16px;position: absolute;width: 16px;height: 18px;background-color: red;border-radius: 50%;margin-left: -8px;text-align: center;margin-top: -8px;
  }

  .chat{
    width: 60px;
            height: 60px;
            background-color: #cdd400;
            float: right;
            z-index: 100;
            position: sticky;
            bottom: 200px;
            margin-right: 20px;
            padding: 5px;
           
            border-radius: 50%;
  }

  .chat i{
    color: #ffff;font-size:49px
  }